body {
    height: 100%;
    width: 100%;
}

nav ul a {
    color: #444;

}

nav ul a:hover {
    text-decoration: underline;
    text-decoration-color: #f50057;
    text-decoration-style: solid;
    background-color: transparent;
    color: #e91e63;
}

nav .brand-logo, nav div a i {
    color: #444;
}


hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
