body {
    height: 100%;
    width: 100%;
}

nav ul a,
nav .brand-logo,
nav div a i{
    color: #444;

}

nav ul a:hover {
    text-decoration: underline;
    text-decoration-color: #f50057;
    text-decoration-style: solid;
    background-color: transparent;
    color: #e91e63;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: 15px;
}

.intro h2, h4 {
    background: -webkit-linear-gradient(top, #1b1b1b 0%,#383838 13%,#4e4e4e 46%,#4e4e4e 46%,#0a0a0a 48%,#010101 52%,#0d0d0d 54%,#232323 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section p {
    background: -webkit-linear-gradient(top, #1b1b1b 0%,#383838 13%,#4e4e4e 46%,#4e4e4e 46%,#0a0a0a 48%,#010101 52%,#0d0d0d 54%,#232323 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.parallax-container {
    min-height:380px;
    line-height:0;
    height:auto;
    

